certifi
chardet
click
dash-core-components
dash-html-components
dash-renderer
dash
decorator
enum34
flask-cors
Flask
Flask-Compress
Flask-SeaSurf
functools32
gunicorn
idna
ipython-genutils
itsdangerous
Jinja2
jsonschema
jupyter-core
MarkupSafe
nbformat
numpy
pandas
plotly
python-dateutil
pytz
requests
six
traitlets
urllib3
Werkzeug
wheel
